.div-employee {
  margin: 0 auto;
  min-width: 400px;
}
.row:hover td{
  cursor: pointer;
  border-top: 1px solid rgba(255,255,255,.12);
  transform: translate3d(-2.5px, -5px, 0);
  background: #424242;
}
