<div *mobxAutorun class="div-employee" fxFlex.lt-sm="100" fxFlex.gt-xs="600px">
  <div *ngIf="employees.length > 0">
    <p>
      Total Salary: <span>{{ formatVND(totalSalary) }}đ</span>
    </p>
    <div>
      <p>Highest salary employee</p>
      <p>
        Name: <span>{{ highestSalaryEmployee.name }}</span>
      </p>
      <p>
        Salary: <span>{{ formatVND(highestSalaryEmployee.salary) }}</span>
      </p>
    </div>
    <table class="mat-elevation-z8" mat-table [dataSource]="employees">
      <!-- Name Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- Salary Column -->
      <ng-container matColumnDef="Salary">
        <th class="col-num" mat-header-cell *matHeaderCellDef>Salary</th>
        <td class="col-num" mat-cell *matCellDef="let element">
          {{ formatVND(element.salary.toString()) }}đ
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayCols"></tr>
      <tr
        class="row"
        mat-row
        *matRowDef="let row; columns: displayCols"
        (click)="onRowClick(row)"
      ></tr>
    </table>
    <mat-paginator
      (page)="handlePageEvent($event)"
      [length]="length"
      [pageSize]="pageSize"
      [showFirstLastButtons]="showFirstLastButtons"
      [pageSizeOptions]="pageSizeOptions"
      [pageIndex]="pageIndex"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
  <div *ngIf="employees.length <= 0">
    <p>No data</p>
  </div>
</div>
