html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
table {
  width: 100%;
  overflow-x: scroll;
}
table .col-num {
  text-align: end !important;
}
table th {
  font-size: 15px !important;
}
.mat-icon {
  width: fit-content !important;
  height: fit-content !important;
}
.material-icons {
  font-size: 20px;
}
